.btn {
  padding: 35px 23px;
  width: 458px;
  font-size: 30px;
  line-height: 49px;
  text-align: center;
  font-weight: 500;
  border-radius: 0;
  color: #2C3442;
  overflow: hidden;

  &.btn-yellow,&.form-submit {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 5%);
    }
  }
  &.form-submit{
    border: none;
    &:hover,&:visited,&:active{
      color: #2c3442 !important;
      text-decoration: none !important;
      background-color: darken($primary-color, 5%) !important;
    }
  }
  &.btn-gray {
    background-color: $gray-color-2;

    &:hover {
      background-color: darken($gray-color-2, 5%);
    }
  }

  &.btn-blue {
    background-color: $secondary-color;
    color: $white-color;

    &:hover {
      background-color: darken($secondary-color, 5%);
    }
  }

  &.btn-collapsed {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 1;
    .btn-text {
      display: none;
    }

    &:hover {
      width: 100%;

      .btn-text {
        display: inline-block;
      }

    }
  }

  &:active, &:focus {
    outline: none;
    box-shadow: none;
  }

  .ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: $white-color;
    animation: ripple-animation 2s;
  }

}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}


// CONTACT SECTION
form {
  .form-group:not(.field--type-image):not(.form-type-select) {
    position: relative;
    margin-bottom: 90px;

    label {
      position: absolute;
      top: 0;
      left: auto;
      font-size: 22px;
      line-height: 37px;
      letter-spacing: 0.6px;
      font-weight: 500;
      transition-duration: .3s;
      color: $secondary-color;
    }

    input[type="text"], input[type="email"],input[type="tel"],input[type="password"],textarea {
      display: block;
      width: 100%;
      border: none;
      font-size: 22px;
      line-height: 37px;
      letter-spacing: 0.6px;
      font-weight: 500;
      border-bottom: 1px solid $gray-color-5;
      outline: none;
      padding-left: 0px;
      border-radius: 0px;
    }

    .form-control:focus{
      box-shadow: none;
    }

    &.field-focused {

      label {
        top: -30px;
        font-size: 12px;
      }
    }
    &.element-focus-in{
      label {
        color: #3C609F;
      }
      input[type="text"], input[type="email"],input[type="tel"],textarea{
        border-bottom: 1px solid #3C609F;
      }
    }
    &.field-has-value{
      label{

      }
    }
  }

}
